<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - info_2022</title>
    <link rel="stylesheet" href="~/css/bootstrap_colors.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/info_2022.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/graphic/logo.png" alt="Portal InfoInfo" height="30" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Texts" asp-action="Index">Teksty</a>
                        </li>



                        @{
                            if (User.IsInRole("admin") || User.IsInRole("author"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administracja
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <li>
                                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Texts" asp-action="List">Lista tekstów</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Opinions" asp-action="Index">Lista opinii</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("author"))
                                        {
                                            <li>
                                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Texts" asp-action="Create">Nowy tekst</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                    <form method="get" class="d-flex" role="search" asp-controller="Texts" asp-action="Index" asp-route-PageNumber="1">
                        <input class="form-control me-2" type="search" id="Fraza" name="Fraza" placeholder="Szukany ciąg" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Szukaj</button>
                    </form>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid bg-back pt-3 pb-2 text-center">
            InfoInfo - Portal informacyjny studentów kierunku Informatyka SWPW w Płocku- &copy; 
            @DateTime.Now.Year
           <p>
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-info text-decoration-none">Polityka prywatności</a>
           </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
